{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

    <div class="container-fluid p-0">
        <div class="row m-0 border">
            <div class="col-sm-1 p-0">
                <div class="semi_circle_left mt-4"></div>
            </div>
        </div>
    </div>

	{% include "home/partials/_sidebar_user.html.twig" %}

{% endblock %}
