{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	{% include "home/partials/_sidebar_user.html.twig" %}

	<nav>
		<h1 class='p-2'>test</h1>
	</nav>

    <div class="semi_circle_left border d-flex justif">
    </div>
    <div class = "semi_circle_right border">
    </div>

	<main class="container-fluid">
		<div class=" d-flex justify-content-center m-5 orange"></div>
		<section class="main_text  p-5 col-8">
			<div class="text-container  p-3 ml-3 gap-3">
				<h2 class=" pl-2">
					Economie de partage
					<h2>
						<h1 class="">
							Vous êtes une entreprise en quête de croissance ?
						</h1>
						<p class="col-8 ">
							lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
														lorem ipsum lorem ipsum lorem ipsum
														lorem ipsum lorem ipsum lorem ipsum
						</p>
					</div>
					<div class="contact border d-flex justify-content-evenly">
						<button type="button" class="s">Nous contacter</button>
						<button type="button" class="btn btn-success">Nos</button>
					</div>
				</section>
			</main>

			<div class='border d-flex justify-content-center'>
				<div class="border">
					<p>test</p>
				</divclass="border">
				<p>test</p>
				<div class="border"></p>test
			</p>
		</div>
	</div>
{% endblock %}
