{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="pink-stripe">
        <h1 class="mt-3">
        accueil
        </h1>
    </div>
{% endblock %}
