{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
<body class="bg-admin">
    <img class="bg-admin-collahop" src="{{ asset('build/images/admin/Collahop-blanc.png') }}"/>
    {% include "admin/partials/_sidebar_admin.html.twig" %}
</body>
{% endblock %}
