{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
<body class="sidebar_admin_bg">
    <aside class="sidebar_admin p-0">
    	<div class="sidebar_admin_header">
            <span class="menu_icon">
               <i class="fa-solid fa-bars menu_sidebar"></i>
               <i class="fa-solid fa-xmark xmark"></i>
            </span>
	    <div class="user_pic_container">
		<img src="{{ asset('build/images/admin/oceane.jpeg') }}" class="user_pic_admin" alt="Photo de profil">
                <p class="user_name"> Océane Parravano </p>
	    </div>
	</div>

         <div class="dashboard_text"> Dashboard </div>

        <ul class="side_admin_menu">
            <li class="nav-item active">
                <a href="#">
                    <i class="fa-solid fa-book icone"></i>
                    <span> Blog </span>
                    <i class="fas fa-caret-down arrow"></i>
                </a>
                <ul class="sub_menu">
                    <li><a href="#">Ajouter un article</a></li>
                    <li><a href="#">Supprimer un article</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa-solid fa-circle-question icone"></i>
                    <span> FAQ </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa-solid fa-newspaper icone"></i>
                    <span> Newsletters </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa-solid fa-chart-line icone"></i>
                    <span> Analyses </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa-solid fa-message icone"></i>
                    <span> Messages </span>
                </a>
            </li>
        </ul>
        <ul class="log">
            <li class="nav-item">
                <a href="#">
                    <i class="fa-solid fa-power-off"></i>
                    <span> Se déconnecter </span>
                </a>
            </li>
        </ul>
    </aside>


        <script>

                let aside = document.querySelector('.sidebar_admin');
                let icon = aside.querySelector('.menu_icon');
                let li = aside.getElementsByClassName('nav-item');

                icon.onclick = () => {
                        aside.classList.toggle('expand');
                }

                for(let i of li) {
                        i.onclick = activeLi;
                }

                function activeLi() {
                        const list = Array.from(li);
                        list.forEach(e=>e.classList.remove('active'));
                        this.classList.add('active');
                }
        
         </script>
</body>

{% endblock %}
