{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
<body class="sidebar_admin_bg">
    <nav class="sidebar_admin border">
	<div class="sidebar_admin_header border">
	    <div class="user_pic_container border">
		<img src="{{ asset('build/images/admin/oceane.jpeg') }}" class="user_pic_admin" alt="Photo de profil">
                <p class="user_name"> Océane Parravano </p>
	    </div>
	</div>

        <div class="dashboard_text"> Dashboard </div>
            <ul>
                <li><a href="#">Dashboard</a></li>
            
            <li>
                <a href="#">Blog</a>
                <ul>
                    <li><a href="#"> Ajouter un article </a></li>
                    <li><a href="#"> Modifier un article </a></li>
                </ul>
            </li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Newsletters</a></li>
            <li><a href="#">Analyses</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </nav>


	
<!-- <script> let btn = document.querySelector("#btn");
	let sidebar = document.querySelector(".sidebar");
	let searchBtn = document.querySelector(".bx-search");
				
	btn.onclick = function(){
	 sidebar.classList.toggle("active");
	}
	searchBtn.onclick = function(){
	 sidebar.classList.toggle("active");
	} </script> -->
</body>

{% endblock %}
