<div class="carousel-item">
	<div class="slide-number d-flex justify-content-end">
		<p class="transparent_number pt-2 mt-5 m-lg-0">03.</p>
	</div>
	<div class="carousel-caption carousel-content row p-0 container-fluid position-static">
		<div class="justify-self-start undertakings-div">
			<h4 class="undertakings col-4 my-2 fs-4">NOS ENGAGEMENTS</h4>
		</div>
		<p class="undertakings-subtitle fs-4 fw-bold p-0">Pourquoi faire appel à Collahop pour développer son business ?</p>
		<p class="carousel-introduction p-0">
			Que vous soyez dirigeant d’une PME, membre de la direction d’une grande entreprise ou entrepreneur, la croissance constitue probablement l’une de vos préoccupations principales.<br>
			D’ailleurs, on dit souvent qu’une entreprise doit se développer et croître si elle ne veut pas disparaître un jour.<br>
			Mais est-ce vrai ?<br>
			Et bien oui, car l’absence de croissance traduit l’impossibilité pour l’entreprise d’innover et démontre son incapacité à augmenter son portefeuille client et de facto son CA, ce qui l’entraîne inévitablement vers le déclin.
			On doit alors saisir les opportunités de croissance qui s'offrent à nous (ou les provoquer !)<br>
			Chez Collahop, on s'engage à vous accompagner dans une démarche de stratégie de croissance.
		</p>
		<div class="opportunities d-flex row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img1.png') }}">
			</div>
			<div class="d-flex flex-column align-items-end col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Détecter les opportunités</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                	Avec les nouvelles technologies et les changements d’habitude des consommateurs, les principes de commercialisation et de distribution évoluent rapidement. Il est nécessaire de s’informer, analyser, comprendre et anticiper les évolutions. Collahop vous aide à détecter les opportunités de marché en sortant des schémas classiques et en vous proposant des choix audacieux.
                </p>
			</div>
		</div>
		<div class="economy d-flex flex-row-reverse row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img2.png') }}">
			</div>
			<div class="d-flex flex-column align-items-start col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Gagner ou économiser en partageant des actifs</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                	Il n’est pas rare que les entreprises soient encombrées par du matériel dormant, qui se retrouvent alors sous-exploités. Le modèle de l’économie collaborative permet d’organiser la rotation des stocks et des équipements pour optimiser son utilisation et réduire les coûts de stockage. En limitant l’immobilisation des ressources, vous générez de nouveaux revenus et réalisez des économies.
                </p>
			</div>
		</div>
		<div class="environment d-flex row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img3.png') }}">
			</div>
			<div class="d-flex flex-column align-items-end col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Minimiser son impact environnemental</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                	En favorisant des pratiques d’économie du partage, l’économie collaborative permet une optimisation de l’usage des ressources déjà existantes et incite à une réduction de la consommation et de la production de produits neufs. Cela passe notamment par le recyclage des déchets, l’utilisation de matières premières, l’optimisation des stocks et la maîtrise de la fin de vie des produits.
                </p>
			</div>
		</div>
		<div class="social d-flex flex-row-reverse row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img4.png') }}">
			</div>
			<div class="d-flex flex-column align-items-start col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Création de liens sociaux</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                	La consommation collaborative apparaît comme une solution pour nouer des liens sociaux. La société de consommation pousse à l’individualisme qui est auto-alimenté par le mode de croissance. L’économie collaborative est une économie sociale et solidaire où les échanges sont basés sur l’équité, la transparence et la convivialité. Les entreprises de votre marché deviennent vos partenaires.
                </p>
			</div>
		</div>
	</div>
</div>
