<div class="carousel-item active">
	<div class="slide-number d-flex justify-content-end">
		<p class="transparent_number pt-2 mt-5 m-lg-0">01.</p>
	</div>
	<div>
		<div class="carousel-caption carousel-content carousel-page1 row who_are_we_page_bg p-3 pt-0">
			<div class="title pb-2">
				<p>
					<span class="who">Qui sommes-</span>
					<span class="us">nous ?</span>
				</p>
			</div>
			<div class="team py-2">
				<h2 class="our_team">NOTRE EQUIPE</h2>
			</div>

			<div class="row row-cols-1 row-cols-lg-2">
				<div class="first_member_details">
					<div class="first_member_title align-items-center my-4">
						<img class="member_img" src="{{ asset('build/images/who_are_we/alain.png') }}">
						<h4>ALAIN WIGISHOFF</h4>
						<h5>Fondateur</h5>

					</div>
					<div class="text">
						<p class="presentation">
							De formation supérieure,  Alain a tout au long de sa carrière cultivé la différence pour mieux se démarquer.<br>			
							L’innovation fait partie de son ADN et quand l’Innovation rencontre l’éco-croissance alors le besoin de partager l’expérience à travers Collahop devient une évidence.<br>							
							Au-delà d’une théorie, Alain a mis en place de nombreux exemples en tant que DG qui lui ont permis de doper la croissance de son entreprise sans avoir à fortement investir.<br>							
							Adopter un modèle qui fait du bien à votre entreprise à vos salariés et à la Planet voici le « deal » que Collahop vous propose. L’économie du partage et collaborative est faite pour vous, vous voulez savoir comment ?<br>						
							C’est avec plaisir que nous vous attendons pour en parler… .
						</p>
					</div>
					<div class="skills col-xl-10">
						<p class="skill">Résolution de problème</p>
						<div class="skill_barre">
							<p class="first_member_notation1"></p>
						</div>
						<p class="skill mt-3">Gestion de projet</p>
						<div class="skill_barre">
							<p class="first_member_notation2"></p>
						</div>
						<p class="skill mt-3">Visionnaire</p>
						<div class="skill_barre">
							<p class="first_member_notation3"></p>
						</div>
					</div>
				</div>
				<div class="second_member_details">
					<div class="second_member_title align-items-center my-4">
						<img class="member_img" src="{{ asset('build/images/who_are_we/oceane.png') }}">
						<h4>OCEANE PARRAVANO</h4>
						<h5>Digital brand manager</h5>
					</div>
					<div class="text">
						<p class="presentation">
							Dotée d’une créativité infinie, Océane cultive ses idées avec tout ce qui l’entoure. Pour elle, la communication doit être innovante, ludique et casser les codes.<br>
							Diplômée d’un master stratégie commerciale et marketing, elle a très vite développé un goût prononcé pour la communication digital et les nouvelles technologies.<br>
							Elle a travaillé dans des secteurs d’activités complètement différents, ce qui lui permet d’avoir des compétences transversales dans la stratégie et l’image de marque des entreprises.<br>
							Passionnée par les projets innovants et sensible aux enjeux environnementaux, c’est tout naturellement qu’elle s’est engagée dans l’aventure Collahop.<br>
						</p>
					</div>
					<div class="skills col-xl-10">
						<p class="skill">Graphisme</p>
						<div class="skill_barre">
							<p class="scd_member_notation1"></p>
						</div>
						<p class="skill mt-3">Brand strategie</p>
						<div class="skill_barre">
							<p class="scd_member_notation2"></p>
						</div>
						<p class="skill mt-3">Réseaux sociaux</p>
						<div class="skill_barre">
							<p class="scd_member_notation3"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
