<div class="carousel-item active">
	<div class="slide-number d-flex justify-content-end">
		<p class="transparent_number pt-2 m-0">01.</p>
	</div>
	<div>
		<div class="carousel-caption carousel-content carousel-page1 row who_are_we_page_bg p-3 pt-0">
			<div class="title pb-2">
				<p>
					<span class="who">Qui sommes-</span>
					<span class="us">nous ?</span>
				</p>
			</div>
			<div class="team py-2">
				<h2 class="our_team">NOTRE EQUIPE</h2>
			</div>

			<div class="row row-cols-1 row-cols-lg-2">
				<div class="first_member_details">
					<div class="first_member_title align-items-center my-4">
						<img class="member_img" src="{{ asset('build/images/who_are_we/alain.png') }}">
						<h4>ALAIN WIGISHOFF</h4>
						<h5>Fondateur</h5>

					</div>
					<div class="text">
						<p class="presentation">Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur. Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur. Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur. Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur.</p>
					</div>
					<div class="skills col-xl-10">
						<p class="skill">Compétence 1</p>
						<div class="skill_barre">
							<p class="first_member_notation1"></p>
						</div>
						<p class="skill mt-3">Compétence 2</p>
						<div class="skill_barre">
							<p class="first_member_notation2"></p>
						</div>
						<p class="skill mt-3">Compétence 3</p>
						<div class="skill_barre">
							<p class="first_member_notation3"></p>
						</div>
					</div>
				</div>
				<div class="second_member_details">
					<div class="second_member_title align-items-center my-4">
						<img class="member_img" src="{{ asset('build/images/who_are_we/oceane.png') }}">
						<h4>OCEANE PARRAVANO</h4>
						<h5>Digital brand manager</h5>
					</div>
					<div class="text">
						<p class="presentation">Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur. Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur. Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur. Chef d'entreprise, expert en assemblage mécanique, intégrateur de l'économie collaborative dans l'industrie, Innovateur.</p>
					</div>
					<div class="skills col-xl-10">
						<p class="skill">Compétence 1</p>
						<div class="skill_barre">
							<p class="scd_member_notation1"></p>
						</div>
						<p class="skill mt-3">Compétence 2</p>
						<div class="skill_barre">
							<p class="scd_member_notation2"></p>
						</div>
						<p class="skill mt-3">Compétence 3</p>
						<div class="skill_barre">
							<p class="scd_member_notation3"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
