<div class="carousel-item active">
	<div class="slide-number d-flex justify-content-end">
		<p class="transparent_number p-2">01.</p>
	</div>
	<div class="carousel-caption carousel-content row p-0">
		{# insert the code here #}
	</div>
</div>
