<div class="carousel-item">
	<div class="slide-number d-flex justify-content-end">
		<p class="transparent_number pt-2 mt-5 m-lg-0">03.</p>
	</div>
	<div class="carousel-caption carousel-content row p-0 container-fluid position-static">
		<div class="justify-self-start undertakings-div">
			<h2 class="undertakings col-4 my-2">NOS ENGAGEMENTS</h2>
		</div>
		<p class="undertakings-subtitle fs-4 fw-bold p-0">Pourquoi faire appel à Collahop pour développer son business ?</p>
		<p class="carousel-introduction p-0">
			Pariatur fugiat sint elit quis sunt sint aliqua quis sit veniam excepteur incididunt enim. Enim eiusmod voluptate sunt cillum non. Aute labore consequat anim nulla laboris
			proident ex consequat velit irure velit qui amet.Pariatur fugiat sint elit quis sunt sint aliqua quis sit veniam excepteur incididunt enim. Enim eiusmod voluptate sunt cillum non. Aute labore consequat anim nulla laboris
			proident ex consequat velit irure velit qui amet.Pariatur fugiat sint elit quis sunt sint aliqua quis sit veniam excepteur incididunt enim. Enim eiusmod voluptate sunt cillum non. Aute labore consequat anim nulla laboris
			proident ex consequat velit irure velit qui amet.Pariatur fugiat sint elit quis sunt sint aliqua quis sit veniam excepteur incididunt enim. Enim eiusmod voluptate sunt cillum non. Aute labore consequat anim nulla laboris
			proident ex consequat velit irure velit qui amet.
		</p>
		<div class="opportunities d-flex row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img1.png') }}">
			</div>
			<div class="d-flex flex-column align-items-end col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Détecter les opportunités</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                Eu minim ex pariatur aliqua ullamco cillum ut mollit fugiat.
				Cupidatat sint consequat incididunt veniam nisi. Proident amet non minimveniam. 
                Occaecat est minim eu deserunt labore aliqua reprehenderit nulla fugiat esse proident commodo.
                </p>
			</div>
		</div>
		<div class="economy d-flex flex-row-reverse row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img2.png') }}">
			</div>
			<div class="d-flex flex-column align-items-start col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Gagner ou économiser en partageant des actifs</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                Eu minim ex pariatur aliqua ullamco cillum ut mollit fugiat.
				Cupidatat sint consequat incididunt veniam nisi. Proident amet non minimveniam. 
                Occaecat est minim eu deserunt labore aliqua reprehenderit nulla fugiat esse proident commodo.
                </p>
			</div>
		</div>
		<div class="environment d-flex row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img3.png') }}">
			</div>
			<div class="d-flex flex-column align-items-end col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Minimiser son impact environnemental</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                Eu minim ex pariatur aliqua ullamco cillum ut mollit fugiat.
				Cupidatat sint consequat incididunt veniam nisi. Proident amet non minimveniam. 
                Occaecat est minim eu deserunt labore aliqua reprehenderit nulla fugiat esse proident commodo.
                </p>
			</div>
		</div>
		<div class="social d-flex flex-row-reverse row p-0 my-2">
			<div class="d-flex justify-content-center col-5 p-0">
				<img class="undertakings-img d-none d-md-block" src="{{ asset('build/images/carousel/undertakings_img4.png') }}">
			</div>
			<div class="d-flex flex-column align-items-start col-md-7">
				<h5 class="undertakings-title fs-3 mx-5 my-3">Création de liens sociaux</h5>
				<p class="undertakings-text img-fluid mx-5 my-3 pb-4">
                Eu minim ex pariatur aliqua ullamco cillum ut mollit fugiat.
				Cupidatat sint consequat incididunt veniam nisi. Proident amet non minimveniam. 
                Occaecat est minim eu deserunt labore aliqua reprehenderit nulla fugiat esse proident commodo.
                </p>
			</div>
		</div>
	</div>
</div>
