<div class="carousel-item ">
    <div class="slide-number d-flex justify-content-end">
		<p class="transparent_number p-2">02.</p>
	</div>

	<div class="container-fluid carousel_page_2_bg py-3">
        <div class="row container_carousel_part_2">
            <div class="img_container col-5 p-0 d-none d-lg-block">
            <div class="semi_circle_left_2 d-none d-lg-block"></div>
                <img src="{{asset('build/images/carousel/reunion_carrousel_2.jpeg') }}" class="img-fluid img_carousel_2 h-100" alt="Réunion de travail en start-up">
            </div>

            <div class="col-lg-7 col-12">
            
                <div class="text_carrousel_part_2  row">
                    <div class="title_carousel_2">
                        <h2 class="px-lg-3 d-flex justify-content-center justify-content-lg-start"> Une belle histoire, la nôtre </h2>
                    </div>

                    <div class="container">
                        <div class="row">
                            <p class="row py-3 text-justify px-md-5 mx-3 mx-md-5 col-11 col-lg-10">
                                <span> <strong>Collahop</strong> est né de l'idée que les entreprises
                                    pouvaient être plus rentables si elles utilisaient toutes leurs ressources actives.
                                    Parce que nous pensons que le succès de <strong>l'économie du partage</strong>
                                    commence par la collaboration. Notre mission est de rendre possible la croissance économique de votre entreprise
                                    afin d'être compatible avec la protection de l'environnement et du climat. Nous sommes convaincus que l'économie verte est un
                                    moteur de croissance et d'innovation. </span>
                                <span>Nous avons conçu Collahop de manière à ce qu'il puisse répondre à trois besoins
                                    fondamentaux : </span>
                                <span class="white_font_carousel"> Limiter l'immobilisation du capital et générer de nouveaux revenus </span>
                                <span class⁼"white_font_carousel"> Réduire les délais de maintenances </span>
                                <span class="white_font_carousel"> Donner à vos produits/services une chance d'être utilisés. </span>
                                <span> Parce que nous sommes des stratèges,<br>
                                    Parce que nous sommes des solutionnistes et que nous avons construit notre
                                    entreprise en tant qu'organisation de réseau. </span>
                                <span class="punchline_carousel_2 white_font_carousel"> Parce que nous sommes, votre prochaine belle histoire.</span>
                            </p>
                            <div class="semi_circle_right_2 d-none d-lg-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
{# ------------------------------------------------------------------------------------------------#}
</div>




