{% block footer %}
<div class="footer">
	<div class="footer_social_network">

		<a href="https://twitter.com/CollaHop">
			<img class="footer_logo_twitter" src="{{ asset('build/images/footer/logo_twitter_white.png') }}" alt="Logo Twitter">
		</a>

		<a href="https://www.facebook.com/Collahop">
			<img class="footer_logo_facebook" src="{{ asset('build/images/footer/logo_facebook_white.png') }}" alt="Logo Facebook">
		</a>

		<a href="https://www.instagram.com/collahop/">
			<img class="footer_logo_instagram" src="{{ asset('build/images/footer/logo_instagram_white.png') }}" alt="Logo Instagram">
		</a>

		<a href="https://www.youtube.com/channel/UCeWRGqTcwEjVBAVsg9CD-Rw">
			<img class="footer_logo_youtube" src="{{ asset('build/images/footer/logo_youtube_white.png') }}" alt="Logo Youtube">
		</a>
	</div>
	<div class="footer_menu">
		<ul class="list-inline">

			<li class="list-inline-item">
				<a href="/">Accueil</a>
			</li>

			<li class="list-inline-item">
				<a href="/faq">F.A.Q</a>
			</li>

			<li class="list-inline-item">
				<a href="get_ebook">Télécharger le livre blanc</a>
			</li>

			<li class="list-inline-item">
				<a href="/contacts">Contact</a>
			</li>

		</ul>
		<p class="copyright">Collahop © 2022</p>
	</div>
<div>
{% endblock %}