	<sidebar class="sidebar_body">
		<div class="side_list">
			<a href="#" class="side_link">
				<i class='bx bxl-twitter side_icon'></i>
			</a>
			<a href="#" class="side_link">
				<i class='bx bxl-facebook side_icon'></i>
			</a>
			<a href="#" class="side_link">
				<i class='bx bxl-instagram side_icon'></i>
			</a>
			<a href="http://www.google.com" class="side_link">
				<i class='bx bxl-youtube side_icon'></i>
			<a/>
		</div>
	</sidebar>
