	<sidebar class="sidebar_body">
		<div class="side_list">
			<a href=" https://twitter.com/CollaHop" class="side_link">
				<img class="icon_twitter" src="{{ asset('build/images/sidebar/twitter.png') }}" alt="Icone Twitter">
			</a>
			<a href="https://www.facebook.com/Collahop" class="side_link">
				<img class="icon_facebook" src="{{ asset('build/images/sidebar/facebook.png') }}" alt="Icone Facebook">
			</a>
			<a href="https://www.instagram.com/collahop/" class="side_link">
				<img class="icon_instagram" src="{{ asset('build/images/sidebar/instagram.png') }}" alt="Icone Instagram">
			</a>
			<a href="https://www.youtube.com/channel/UCeWRGqTcwEjVBAVsg9CD-Rw" class="side_link">
				<img class="icon_youtube" src="{{ asset('build/images/sidebar/youtube.png') }}" alt="Icone Youtube">
			<a/>
		</div>
	</sidebar>
