
$color-logo: #10dddd;
$white-color: white;
$hover-btn-color: #f4f3f3;
$z-fixed: 100;

.sidebar_body {
    position: fixed;
    height: 12.5em;
    padding: 1rem 1rem 0rem 0rem;
    transition: 0.5s;
    border-radius: 0 20px 20px 0;
    background-color: $color-logo;
    top: 45%;
    z-index: $z-fixed;

    a {
      text-decoration: none;
      display: grid;
      padding: 0.5rem 0 0.5rem 1rem;
      color: $white-color;
      transition: .3s;
  
      .icon_twitter, .icon_facebook, .icon_instagram, .icon_youtube {
        font-size: 1.6rem;
        color: $white-color;
        width: 30px;
            &:hover {
            color: rgb(245, 245, 245);
            transition: all 1s ease;
            transform: scale(1.2);
            transition-duration: 500ms;
            &:visited {
              color: rgb(129, 129, 129);
              }
            }
          }
        }
      }

@media screen and (max-width:768px) {
    .sidebar_body {
        display: none;
    }
}
