//start coding by removing this file and adding yours ;)

$color-typography: #287878;
$color-logo: #10dddd;
$color-image: #78a0a0;
$color-keywords: #2878a0;
$color-color: #50a0c8;
$color-slogan: #141728;
$white: white;
$hover-btn-color: #f4f3f3;
$secondary-homepage-color: #7b7b7b;
$z-fixed: 100;
$text-align: justify;

$primary: $color-logo;
$z-fixed: 100;

$font-family-base: 'League Spartan';

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "~bootstrap/scss/bootstrap";
@import "navbar";
@import "sidebar";
@import "homepage";
@import "homepage_part2";
@import "mixins";
@import "ebook";
@import 'contacts.scss';
@import "blog";
@import "faq";
@import "who_are_we_page1.scss";

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
