//start coding by removing this file and adding yours ;)
@import "wcs";
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    margin-top: 8%;
    background-color: #292929;
    overflow: hidden;
}

#desktop_menu {
    display: none;
}

/* @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

/* #main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #bb2525;
  margin: 0px;  
  z-index: 9;
} */

/* #main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #B9FAF8;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
} */

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 50px;
    height: 30px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: "Cabin", Sans-serif;
    background: linear-gradient(
        to bottom,
        #ffffff,
        #ffffff 20%,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 40%,
        #ffffff 40%,
        #ffffff 60%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0) 80%,
        #ffffff 80%,
        #ffffff 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 110px;
    right: 0px !important;
    width: 60%;
    height: auto;
    background-color: #ffffff;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
    justify-content: center;
}

#hamburger-menu a {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
}
#hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.6;
}

.mobile_line {
    border-top: 3px solid rgb(255, 255, 255);
    position: absolute;
    right: 10%;
    top: -80px;
    width: 147%;
    height: 3px;
    background-color: rgba(243, 243, 243, 0);
    border-radius: 5px;
    transition: 0.2s ease left;
}

#mobile_search {
    position: absolute;
    left: -57%;
    top: -60px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
}
input::placeholder {
    color: #ffffff;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    #hamburger-menu {
        display: inline;
    }
}

@media screen and (min-width: 1400px) {
    #mobile_menu {
        display: none;
    }

    #desktop_menu {
        display: initial;
    }

/*     nav {
        position: absolute;
        top: 10px;
        right: 0;
        left: 0;
        display: table;
        width: 100%;
    }

    nav a,
    .logo {
        position: relative;
        width: 14%;
        display: inline-block;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease color;
    }
    .logo {
        width: 20%;
        display: inline-block;
        top: -10px;
    }

v
    #line {
        border-top: 3px solid rgb(255, 255, 255);
        position: absolute;
        right: 0%;
        top: 20px;
        width: 75%;
        height: 3px;
        background-color: rgb(2, 1, 1);
        border-radius: 5px;
        transition: 0.2s ease left;
    }

    #indicator {
        position: absolute;
        top: 50px;
        width: 10%;
        height: 5px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 5px;
        transition: 0.2s ease left;
    }

    nav a:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    nav a:hover:before,
    nav a:hover:after {
        transform: scale(1);
    }

    nav a:nth-child(1):hover ~ #indicator {
        background: #10dddd;
    }

    nav a:nth-child(2):hover ~ #indicator {
        left: 22%;
        background: #10dddd;
    }

    nav a:nth-child(3):hover ~ #indicator {
        left: 36.5%;
        background: #10dddd;
    }

    nav a:nth-child(4):hover ~ #indicator {
        left: 50.75%;
        background: #10dddd;
    }

    nav a:nth-child(5):hover ~ #indicator {
        left: 65%;
        background: #10dddd;
    }

    nav a:nth-child(6):hover ~ #indicator {
        left: 79%;
        background: #10dddd;
    } */


/* ********************************************** */

    .grid {
      position: absolute;
      top: 15px;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      align-items: center;
      justify-items: center;
      }
      .logo {
        position: relative;
        grid-column: 1;
        grid-row: 2;
        width: 130%;
        right: -20%;
      }
      .accueil {
        grid-column: 3;
        grid-row: 2;
      }
      .services {
        grid-column: 4;
        grid-row: 2;
      }
      .qui_sommes_nous {
        grid-column: 5;
        grid-row: 2;
      }
      .contact {
        grid-column: 6;
        grid-row: 2;
      }
      .blog {
        grid-column: 7;
        grid-row: 2;
      }
      #desktop_search {
        position: relative;
        grid-column: 8;
        grid-row: 2;
        width: 100%;
        left: 80%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #ffffff;
        color: #ffffff;
      }
      .desktop{
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      transition: 0.2s ease color;
      align-self: center;
      justify-items: center;

      }
      #line {
        grid-column: 3;
        grid-row: 1;
        border-top: 3px solid rgb(255, 255, 255);
        position: absolute;
        right: 0%;
        top: 10px;
        width: 100%;
        height: 3px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        transition: 0.2s ease left;
    }

    .indicator{
      grid-row: 1;
      position: relative;
      width: 80%;
      height: 10px;
      top: 10px;
      border-radius: 5px;
      transition: 0.5s;
    }
    #indicator_accueil{
      grid-column: 3;
    }
    #indicator_services{
      grid-column: 4;
    }
    #indicator_qui_sommes_nous{
      grid-column: 5;
    }
    #indicator_contact{
      grid-column: 6;
    }
    #indicator_blog{
      grid-column: 7;
    }
 
    nav a:hover + .indicator{
      background-color: aqua;
    }




    }
