//start coding by removing this file and adding yours ;)
@import "~bootstrap/scss/bootstrap";
@import "wcs";

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$color-typography: #287878;
$color-logo: #10dddd;
$color-image: #78a0a0;
$color-keywords: #2878a0;
$color-color: #50a0c8;
$color-slogan: #141728;
$white-color: white;
$hover-btn-color: #f4f3f3;
$z-fixed: 100;

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========= Sidebar for social medias through homepage ========= */

.sidebar_body {
    position: fixed;
    height: 12.2em;
    padding: 1rem 1rem 0rem 0rem;
    transition: 0.5s;
    border-radius: 0 20px 20px 0;
    background-color: $color-logo;
    top: 55%;
    z-index: $z-fixed;
  }

  .side_link {
    text-decoration: none;
    display: grid;
    padding: 0.5rem 0 0.5rem 1rem;
    color: $white-color;
    transition: .3s;
  }
  
  .side_icon {
    font-size: 1.6rem;
    color: $white-color;
        &:hover {
        color: rgb(245, 245, 245);
        transition: all 1s ease;
        transform: scale(1.2);
        transition-duration: 500ms;
    }
}