@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;
    font-family: ("League Spartan");
}

.blog_body {
    background-color: $color-slogan;
}

.blog_page {
    padding-top: 50px;
    background-image: linear-gradient(
            rgba($color-slogan, 0.8),
            rgba($color-slogan, 0.8)
        ),
        url("../images/blog/pexels-fauxels-3184291.jpg");
    background-size: 100vw;
    background-position: center;
}

.first_part_blog {
    margin-left: 10vw;
    margin-right: 10vw;
}

.category_blog {
    font-size: 3.5vw;
    color: $secondary-homepage-color;
    font-weight: bold;
}

.transparent_weight {
    color: transparent;
    font-weight: 700;
    font-size: 1.5em;
    -webkit-text-stroke: 2px rgb(195, 195, 195);
}

.growth_word {
    color: $color-logo;
    @include text-shadow;
}

.blog_h1 {
    font-size: 5.5vw;
    margin: 0;
}

.blog_h1 > p {
    margin: 0;
}

.border_articles {
    height: 3px;
    background-color: $color-logo;
}

.blog_h2 {
    font-size: 4vw;
}

.row_blog{
    display: flex;
    justify-content: space-around;
}

.articles a {
    height: 600px;
    text-decoration: none;
    color: none;
    flex-direction: column;
    border: 2px solid $color-logo;
    border-radius: 20px;
    box-shadow: 0 0 1em $color-logo;
}

.articles {
    margin-top: 0;
    margin-left: 3vw;
    margin-right: 3vw;
}

.article {

    width: 100%;
    height: 100%;
    flex-direction: column;
}

.article_img {
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px 0px;
}

.article_img .img {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.h2_blog{
    height: 20%;
    font-size: 1.6em;
}

.article_sumary {
    height: 40%;
    text-align: justify;
}

.date_div {
    display: flex;
    align-self: flex-end;
    margin: 15px 0 15px 0;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: $color-logo;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: $color-slogan;
}

.show_blog_page .date_div {
    display: flex;
    align-self: flex-end;
    margin: 3vh 0 3vh 0;
    padding: 0 5vw 0 5vw;
    
    a{
        border: none;
    }
}

.show_blog_page .date {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    right: 10vw;
    background-color: $color-logo;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: $color-slogan;
}

.show_blog {
    margin: 5vw 5vw 0 5vw;
    border: 2px solid $color-logo;
    border-radius: 20px;
    box-shadow: 0 0 1em $color-logo;
}

.show_blog_article_image {
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 25vw;
    border-radius: 20px;
    overflow: hidden;
}

.show_blog_article_image .img {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.show_blog_article_title {
    font-size: 7vw;
    margin: 3vw;
}

.show_blog_article_content {
    text-align: justify;
    margin-left: 5vw;
    margin-right: 5vw;
}

.back_btn{
    width: 150px;
    height: 40px;
    background-color: $color-logo;
    border-radius: 20px;
    align-self: center;
    position: relative;
    left: 0;
    border: 1px solid $color-slogan;
    color: $color-slogan;
}

@media screen and (min-width: 450px) {
    .blog_h1 {
        font-size: 4.5vw;
    }

    .blog_h2 {
        font-size: 3vw;
    }

    .category {
        font-size: 2.5vw;
    }

    .show_blog_article_title {
        font-size: 6vw;
    }
}

@media screen and (min-width: 700px) {
    .transparent_weight {
        font-size: 1em;
    }

    .blog_h2 {
        font-size: 2vw;
    }

    .category {
        font-size: 1.5vw;
    }

    .show_blog_article_title {
        font-size: 5vw;
        margin: 2vw;
    }
}

@media screen and (min-width: 768px) {
    .articles a {
        height: 600px;
        width: 400px;
    }
}

@media screen and (min-width: 950px) {
    .blog_body {
        margin-top: -150px;
    }

    .category_blog {
        font-size: 2.2em;
        color: $secondary-homepage-color;
        font-weight: bold;
    }

    .show_blog_page {
        padding-top: 100px;
    }

    .blog_page {
        padding-top: 130px;
    }

    .show_blog_article_title {
        font-size: 4vw;
    }

    .show_blog {
        margin-top: 3vw;
    }
}

@media screen and (min-width: 1100px) {
    .blog_h2 {
        font-size: 1.5vw;
    }

    .show_blog_article_title {
        font-size: 3vw;
        margin: 1vw;
    }
}
