
/* ===== general and image settings ===== */

.carousel_page_2_bg {
    background-color: $color-slogan;
}

.container_carousel_part_2 {
    
    .img_container {
        background-color: $color-logo;

        .img_carousel_2  {
            opacity: 0.6;
            object-fit: cover; 
            overflow: hidden;
        }
    }
}
/*===== Number carousel page section =====*/

.transparent_number {
    font-size: 6em;
    @include transparent-weight;
}

/* ===== text section ===== */

.text_carrousel_part_2 {

    h2 {
        text-transform: uppercase;
        font-size: calc(18px + 1.2vw);
        color: $secondary-homepage-color;
    }

    p {
        font-size: 20.5px;
        text-align: justify;
        
        span {
            color: rgb(216, 216, 216)!important;
        }
        
        strong {
            font-weight:normal;
            color: rgb(194, 194, 194)!important;
          }

        .white_font_carousel {
            color: white!important; 
        }

        .punchline_carousel_2 {
            font-size: 23px;
        }
    }

    span:before , span:after {
        content:'';
        display:block;
        height:0.3em;
        }
}


.semi_circle_left_2 {
    position: absolute;
    top: 20%;
    height: 9em;
    width: 5em;
    background: white;
    border-radius: 0 100px 100px 0;
    border: 4px solid white;
    z-index:1;
}


.semi_circle_right_2 {
    position: absolute;
    right: 0%; 
    top: 60%;
    height: 18em;
    width: 9em;
    background-color: $color-logo;
    border-radius: 140px 0px 0px 140px;
}
