@import "app";
@import "mixins";

/*.contacts {
    @include form-pages-generals;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/contacts_img/contacts_form_bg.jpg");
} */

.contacts {
    background-color: $color-slogan;
}

.form-body {
    color: white;
    margin-top: 10.5em !important;
    background-color: $color-slogan;
    .contact-form-title {
        font-size:72px;
    }

    input {
        border: 1px solid white;
        height: 60px;
        background-color: $color-slogan;
        color: white;

        &:hover {
            @include dynamic-border;
        }

    }

    ::placeholder {
        color: white !important;
      }

    .contact_form_area {
        background-color: $color-slogan;
        color: white;

        &:hover {
            @include dynamic-border;
        }
    }


    .contact_form_btn {
        padding: 5px;
        border-radius: 5px;
        width: 190px;
        background-color: #10dddd;
        color: white;
        font-weight: bold;
        transition: all .2s;

        &:hover {
                transform: translateY(2px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

