@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");

$text-align: justify;
$secondary-homepage-color: #7b7b7b;
$white: white;
$color-logo: #10dddd;
$font-size : 5.8em;


/* ===== general settings ===== */

*,
::before,
::after {
    color: $white;
}

body :is(h1, h2, h3, h4) {
    font-weight: 600;
}

section :is(.rectangle_1, .rectangle_2, .rectangle_3) {
    padding-bottom: 20px;
}

section :is(p) {
    text-align : $text-align;
}

/* ===== Background image section ===== */

.homepage-bg {
    background-color: #141726;
    background-image: linear-gradient(rgba(34, 29, 56, 0.7), rgba(0, 0, 0, 0.7)),url(../images/homepage_img/homepage_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw; 
        section {
            margin-top: -105px !important;
        }
    }

/* ===== Homepage semi-circles sesctions ===== */

.semi_circle_left {
    height: 9em;
    width: 5em;
    background: $white;
    border-radius: 0 100px 100px 0;
    border: 4px solid white;
    transition: 1000ms ease-out;
}

.semi_circle_right {
    height: 16em;
    width: 8em;
    background-color: $color-logo;
    border-radius: 130px 0px 0px 130px;
}

/* ===== Text container for the homepage ===== */

.body_text_container {
    .share_economy {
        font-size: 2.2em;
        letter-spacing: 0.225em;
        text-transform: uppercase;
        color: #7b7b7b;
    }

    h1 {
        font-size: 5.4em;
        line-height: 0.8em;
    }

    .transparent_weight {
        @include transparent-weight;
    }

    .growth_word {
        color: $color-logo;
        @include text-shadow;
    }

    p {
        font-size: 1.5em;
    }
}

/* ===== Hompage buttons ===== */

.contact_btn {
    @include homepage-buttons;
    border: 2px solid grey;
    background-color: transparent;
    border: 1px solid white;
    &:active {
        transform: scale(0.92) translateY(-2px);
    }
}

.services_btn {
    @include homepage-buttons;
    margin-left: 20px;
    background-color: #10dddd;
    border: 2px solid #10dddd;
    &:active {
        transform: scale(0.95);
    }
}

/* ===== Rectangle group homepage section ===== */

.rectangle_group {
    padding-top: 30px;
    
    .rectangle_text {
        @include rectangle-text;
    }

    .rectangle_1 {
        background-color: $color-logo;
    }

    .rectangle_2 {
        background-color: #a19696;
    }

    .rectangle_3 {
        background-color: #313843;
    }

    .rectangle_img {
        max-width: 130px;
    }
}

@media screen and (max-width: 1447px)
{
    .body_text_container {
        .share_economy {
            font-size: 1.8em!important;
            letter-spacing: 0.2em!important;
        }
        h1 {
            font-size: 64px!important;
            line-height: 1em!important;
        }
        p {
            font-size: 1.2em!important;
        }
      }
}



