/* 
.dashboard_messages{
    position: relative;
    left: 250px;
    background-color: white;
    color: black!important;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: all 0.5s ease;;

        .dash_content_messages {
            padding-top: 30px;

            .title_messages {
                display: flex;
                align-items: center;
                margin: 60px 0 30px 0;
                color: black;
                i {
                    position: relative;
                    height: 35px;
                    width: 35px;
                    background-color: $hover-admin;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                }

                .text {
                    font-size: 24px;
                    font-weight: 500;
                    color: black;
                    margin-left: 10px;
                }
            }

            .activity_messages>.activity_data{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 97%;
                .data {
                    display: flex;
                    flex-direction: column;
                    margin: 0 15px;
                    color: black;
                    
                    .data_list{
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 400;
                        margin-top: 20px;
                        white-space: nowrap;
                        color: black;
                    }

                    .delete_btn_icn { 
                       background-color: black;
                    }
                }

                .data_title{
                    font-size: 20px;
                    font-weight: 500;
                    color: black;
                }
            }
        }
    
        span {
            

            .show_messages_btn {
                background: $color-logo; 
                text-decoration: none; 
                padding: 5px 25px; 
                border-radius: 15px; 
                border: none;
                
                &:active {
                    transform: scale(0.92) translateY(-2px);
                }   
            }
        }

        .button {
            text-decoration: none;
        }


}

 */

.message_admin_body {
    background-color: $color-slogan;
    padding-left: 250px;
}

.message_admin_section {
    padding: 0 2vw 2vw 2vw;
}

.show_messages_btn {
    background: $color-logo; 
    text-decoration: none; 
    padding: 5px 25px; 
    border-radius: 15px; 
    border: none;
    
    &:active {
        transform: scale(0.92) translateY(-2px);
    }   
}

.admin_messages_content td{
    vertical-align: baseline;
}