/* ===== Buttons sections ===== */

@mixin homepage-buttons {
    padding: 5px;
    border-radius: 25px;
    width: 190px;
    font-weight: 600;
    font-size: larger;
}

/* ===== font section ===== */

@mixin transparent-weight {
    color: transparent;
    font-weight: 700;
    -webkit-text-stroke: 2px rgb(195, 195, 195);
}

@mixin text-shadow {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* ===== image section ===== */

@mixin img_truncated {
    opacity: 0.9;
    object-fit: cover; 
    overflow: hidden;
}

/* ===== cards elements section ===== */

@mixin rectangle-text {
        font-size: 0.9em;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 0px;
        text-align: $text-align;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        word-wrap: break-word;
}

@mixin punchline {
    border: white 1px solid;
    border-radius: 30px;
    min-width: 250px;
}

/* ===== Effects sections ===== */ 

@mixin dynamic-border {
    border-left: 10px solid aqua;
    transition : 0.35s ease-in-out;
    background-color: $color-slogan;
    color: white;
}


