.our_services-bg {
    background-color: #141726;
    background-image: linear-gradient(rgba(34, 29, 56, 0.7), rgba(0, 0, 0, 0.7)),url(../images/our_services.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0%;
        section {
            margin-top: -105px !important;
        }
}

.circle_container {
    display: flex;
    justify-content: flex-end;
}

.our_services_semi_circle_right {
    background-color: $color-logo;
    border-radius: 150px 0px 0px 150px;
    height: 11rem;
    width: 6rem;
    margin-top: 10rem;
    position: absolute;
}

.our_services_title {
    font-size: 2.2em;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: bolder;
    margin-bottom: 0% !important;
}

.our_services_title2 {
    font-size: 70px;
    font-weight: bolder;
    @include text-shadow;
    margin-bottom: 0% !important;
}

.our_services_dvpmt {
    font-size: 70px;
    color: $color-logo;
    font-weight: bolder;
    @include text-shadow;
    margin-bottom: 0% !important;
}

.our_services_text {
    background-color: rgb(6, 101, 112);
}

.explication_text {
    text-align: justify;
}

.our_services_puces {
    height: 70px;
    font-family: poppins light !important;
}

.cards_img {
    background-image: url(../images/our_services.jpeg);
    background-size: cover;
    height: 15rem !important;
    font-size: 6em;
    height: max-content;
    color: $color-logo;
    font-weight: bold;
}

.cards_text_title {
    background-color: rgb(239, 235, 235);
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin-top: 15px;
}

.cards_text {
    background-color: rgb(239, 235, 235);
    font-size: 25px;
    color: grey;
    height: 18rem;
    padding-bottom: 15px;
}

.contact_us_btn {
    @include homepage-buttons;
    font-size: 25px;
    margin-left: 20px;
    background-color: #10dddd;
    border: 2px solid #10dddd;
    &:active {
        transform: scale(0.95);
    }
}

@media only screen and (max-width: 1080px) {
    .cards_text {
        height: 20rem;
        font-size: 20px;
    }
    .our_services_title {
        font-size: 40px;
    }
    .our_services_title2 {
        font-size: 40px;
    }
    .our_services_dvpmt {
        font-size: 40px;
    }
    .our_services_summary {
        font-size: 28px;
    }
    .explication_text {
        font-size: 22px;
        text-align: justify;
    }
}

@media only screen and (max-width: 810px) {
    .our_services_main_container {
        margin-top: 25px;
    }

    .our_services_semi_circle_right {
        display: none;
    }
    
    .cards_text {
        height: 15rem;
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .our_services-bg {
        background-repeat: repeat;
    }

    .our_services_title {
        font-size: 30px;
    }
    .our_services_title2 {
        font-size: 30px;
    }
    .our_services_dvpmt {
        font-size: 30px;
    }
    .our_services_summary {
        font-size: 25px;
    }
    .explication_text {
        font-size: 18px;
        text-align: justify;
    }

    .cards_text {
        height: 25rem;
        font-size: 20px;
    }

}
