@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");
@import "mixins";

$text-align: justify;
$secondary-homepage-color: #7b7b7b;
$white: white;
$color-logo: #10dddd;
$font-size : 5.8em;


/* ===== general settings ===== */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;
    font-family: ("League Spartan");
}

.who_are_we_page-bg {
    background-color: #141726;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: 100vw;
}
.title {
    margin-top: 6rem;
}

.member_img {
    max-height: 10rem;
    width: auto;
}

.who {
    font-size: 60px;
    font-weight: bolder;
}

.our_team {
    font-size: 22px;
    color: grey;
}

.us {
    font-size: 60px;
    color: transparent;
    font-weight: 700;
    -webkit-text-stroke: 2px rgb(195, 195, 195);
}

.skill {
    font-size: 20px;
    font-weight: bolder;
}

.skill_barre {
    border: 1px solid;
    color: white;
    border-radius: 30px;
    width: 100%;
    margin:0%;
    padding: 0%;
}

.first_member_notation1 {
    background-color: rgb(169, 169, 237);
    margin:0%;
    padding: 0%;
    max-width: 90%;
    height: 40px;
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(169, 169, 237);
}

.first_member_notation2 {
    background-color: rgb(169, 169, 237);
    margin:0%;
    padding: 0%;
    max-width: 80%;
    height: 40px;
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(169, 169, 237);
}

.first_member_notation3 {
    background-color: rgb(169, 169, 237);
    margin:0%;
    padding: 0%;
    max-width: 85%;
    height: 40px;
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(169, 169, 237);
}

.scd_member_notation1 {
    background-color: rgb(169, 169, 237);
    margin:0%;
    padding: 0%;
    max-width: 80%;
    height: 40px;
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(169, 169, 237);
}

.scd_member_notation2 {
    background-color: rgb(169, 169, 237);
    margin:0%;
    padding: 0%;
    max-width: 90%;
    height: 40px;
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(169, 169, 237);
}

.scd_member_notation3 {
    background-color: rgb(169, 169, 237);
    margin:0%;
    padding: 0%;
    max-width: 80%;
    height: 40px;
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(169, 169, 237);
}
