{% extends 'base.html.twig' %}

{% block title %}Hello OurServicesController!{% endblock %}

{% block body %}
	<body class="our_services-bg">
    {% include ('_navbar.html.twig') %}
	{% include "home/partials/_sidebar_user.html.twig" %}



		<footer>
			{% include ('home/partials/_footer.html.twig') %}
		</footer>
	</body>
{% endblock %}
