{% extends 'base.html.twig' %}

{% block title %}Téléchargez votre ebook
{% endblock %}

{% block body %}
	<body class="bg-ebook">
		<div class="ebook-download d-flex justify-content-center align-items-center">
			<div class="download-frame py-5 d-flex flex-column justify-content-evenly align-items-center">
				<p class="text-center font-family-base">Découvrez nos services !</p>
				<div>
					<img id="logo-download" src="{{ asset('build/images/interlock.png') }}">
					<a class="text-decoration-none" href="{{ asset('build/files/test.pdf') }}" target="blank">Télécharger le livret blanc</a>
					<img id="logo-download" src="{{ asset('build/images/interlock.png') }}">
				</div>
			</div>
		</div>
		<footer>
		{% include ('home/partials/_footer.html.twig') %}
		</footer>
	</body>
{% endblock %}
