{% extends 'base.html.twig' %}

{% block title %} Contacts
{% endblock %}

{% block body %}
     {{ form_start(form) }}
            
        
        <button class="ebook-btn align-self-center mb-3 px-3 pt-1">{{ button_label|default('RECEVOIR') }}</button>
    {{ form_end(form) }}

{% endblock %}
